/* .date{ */
    /* position: absolute;
    top: 930px; */
    /* right:6; */
    /* margin-left: 13px */
    /* position:relative;
    top:220px;
    right:250px; */

/* } */

/* .details { */
    /* position: relative; */
    /* width: 200px; */
    /* width: 400px; */
    /* top: 930px; */
    /* right:6; */
    /* margin-left: 13px */

/* } */
/* .IncBtn {
    /* position: absolute;
    top:  930px; */
    /* top : 200px;
    Right:300px; */

    /* position:relative;
    top:220px;
    right:250px; */

/* } */ 